reservia.code-workspace
package.json
images/desktop1.png
images/iphone8.png
images/bluestar.png
images/bluestar.xcf
images/blackstar.jpg
images/blackstarcopie.jpg
images/lightgreystar.png
images/lightgreystar.svg
images/lightgreystar.xcf
logos/faviconold.ico
logos/LogoR.png
logos/LogoR16.png 
logos/LogoR16.xcf
logos/LogoR16_2.png
logos/LogoR16_2.xcf
logos/LogoR16_2_16.png
pictogrammes.md
Reservia3xCopie.png
Reservia3xCopie.xcf
preservia.code-workspace
fix-reservia.code-workspace
.gitignore
index2.html
main_save.scss
styleold.css
styleold.css.map






