* {
	box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

//variables
$color-primary: #0065FC;
$color-activelink: #237AFC;
$color-unactivelink: #727272;
$color-unactiveborder: #F2F2F2;
$color-activeborder: #0065FC;
$color-secondary: #DEEBFF;
$color-background: #F2F2F2;
$breakpoints: ("mobile":"576px");

/*smartphone*/
@mixin mobile-only {
    @media only screen and (max-width: map-get($breakpoints , "mobile" )) {
        @content;
    }
}

//
.header {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    &:nth-child(1) {
        flex-basis: 75%;
        flex-shrink: 1;
        text-align: left;
        position: relative;
    }
    & #reservialogo {
        display: inline-block;
        width: 120px;
        height: 40px;
        background-size: contain;
        position: absolute;
	    top: 2%;
	    left: 2%;
	    background-image: URL("./logos/Reservia3x.png");
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: contain;
    }
    @include mobile-only {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
}

.nav {
    & a {
        font-weight: 600;
    }
    display: flex;
    justify-content: flex-end;
    &__link {
        display: inline-block;
        padding: 10px; 
        color: $color-unactivelink;
        border-top: $color-unactiveborder;
        text-decoration: none;
        &:hover {
            border-top: 2px solid $color-activeborder;
        }  
        &:focus {
            color: $color-activelink;
            border-top: 2px solid $color-activeborder;
        }
    }
    & a:nth-child(3) {
        color: $color-primary;
        font-weight: bold;
        &:focus {
            border: none;
        }
    }
    @include mobile-only {
        flex-wrap: wrap;
        & > a {
            width: 50%;
            color: $color-unactivelink;
            border: none;
            text-align: center;
            &:focus {
                color: $color-activelink;
                border-bottom: 2px solid $color-activeborder;
                border-top: none;
            }
            &:hover {
                border-bottom: 2px solid $color-primary;
                border-top: none;
            }
        }
        & a:nth-child(3) {
            order: -2;
            width: 100%;
            color: $color-primary;
            text-align: right;
            &:focus {
                border-top: none;
                border-bottom: none;
            }
        }
    } 
}


 
