@import './sass/base/base';
@import './sass/utils/variables';
@import './sass/utils/mixins';
@import './sass/layouts/header';
@import './sass/layouts/footer';
@import './sass/components/searchbar';

.container-xl {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
}
main {
    & h1 {
        font-weight: 600;
    }
    & #h1 {
        margin-bottom: -6px;
    }
    & .highlight2 {
        font-weight: 700;
        font-size: 16px;
    }
    @include photos($photos__ville);
    @include photospop($photos__populaires);
    @include photosactivites($photos__activites);
    @include mobile-only {
        margin-left: 0;
        margin-right: 0;
    }
}



.filtres {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    & input {
        border: none;
    }
    &__label {
        margin-bottom: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 50px;
        padding: 0;
    }
    &__inputpicto {
        margin-bottom: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 50px;
        padding: 0;
        padding-right: 3px;
        border-top: solid 3px $color-background;
        border-bottom: solid 3px $color-background;
        border-right: solid 3px $color-background;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        -moz-border-radius: 25px;
        &--left{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: $color-secondary;
            border: 3px solid $color-secondary;
            &:hover {
                background-color: $color-background;
            }
        }
        &--right {
            display: inline-block;
            border: none;
        }

        &--insideinput {
            padding-left: 7px;
            padding-right: 5px;
        }
        &:hover {
            background-color: $color-background;
        }
    }
}

.message {
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__info {
        &--picto {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 24px;
            width: 24px;
            border-radius: 12px;
            border: 0.5px solid $color-secondary;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1.1em;
            color: $color-primary;
            font-weight: bold;
            margin-right: 4px;
        }
        &--texte {
            & #nblogements {
                background-color: #ffffff;
            }
        }
    }    
}

.hebergement__container {
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    @include middle {
        justify-content: stretch;
        align-items: center;
        flex-wrap: wrap-reverse;
    }
    &--item__ville {
        flex-basis: 70%;
        flex-grow: 0;
        order: 1;
        background-color: $color-background;
        border-radius: 20px;
        @include large {
            flex-basis: 60%;
        }
        @include middle {
            flex-basis: 100%;
        }
        @include mobile-only {
            max-width: none;
            flex-basis: 100%;
            background-color: white;
        }
        & .annonces__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include middle {
                align-items: stretch;
                padding-left: 15px;
                padding-right: 15px;
                
            }
            @include mobile-only {
                padding-left: 30px;
            }
            & .heading, .plus {
                align-self: flex-start;
                padding-left: 25px;
                @include middle {
                    padding-left: 15px;
                }
                @include mobile-only{
                    padding-left: 1px;
                }
            }
            &--item .photos1__container {
                position: relative;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                align-items: center;
                margin-left: 10px;
                & .item--fraction1, .item--fraction2, .item--fraction3, .item--fraction4, .item--fraction5, .item--fraction6 {
                    flex-basis: 30%;
                }
                @include large {
                    flex-wrap: wrap;
                    & .item--fraction1, .item--fraction2, .item--fraction3, .item--fraction4, .item--fraction5, .item--fraction6 {
                        flex-basis: 50%;
                    }
                }
                @include middle {
                    flex-wrap: wrap;
                    & .item--fraction1, .item--fraction2, .item--fraction3, .item--fraction4, .item--fraction5, .item--fraction6 {
                        flex-basis: 100%;
                    }
                }
                @include mobile-only {
                    padding-right: 10px;
                    margin-left: 0px;
                }             
                & .annonce1 {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: #ffffff;
                    border-radius: 15px;
                    border: 1px solid #ffffff;
                    margin: 0 15px 25px 0;
                    @include large {
                        background-color: white;
                        border: 0;
                    }
                    @include mobile-only {
                        margin: 0 0 20px 0;
                        //box-shadow: 3px 3px 7px rgb(172, 168, 168);
                        border: 5px solid rgb(172, 168, 168, .1);
                        //background-clip: border-box;
                    }
                    &__photo1 {
                        position: relative;
                        flex-shrink: 1;
                        flex-grow: 1;
                        height: 125px;
                        @include photos($photos__ville);
                        @include large {
                            flex-shrink: 1;
                            flex-grow: 1;
                        }
                    }
                    &__details {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        padding: 8px;
                        &__nom {
                            font-size: 1.1em;
                            font-weight: 700;
                        }
                        &__prix {
                            font-size: .8em;
                        }
                        &__stars {
                            padding-left: 9px;
                            padding-top: 15px;
                            & .bluestar {
                                display: inline-block;
                                position: relative;
                                vertical-align: middle;
                                width: 15px;
                                height: 15px;
                                &--blueimg {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    background-image: URL("./../images/bluestar.svg");
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: cover;
                                }
                            }
                            & .greystar {
                                display: inline-block;
                                position: relative;
                                vertical-align: middle;
                                width: 15px;
                                height: 15px;
                                &--greyimg {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    background-image: URL("./../images/greystar.svg");
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: cover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &--item__populaire {
        flex-basis: 30%;
        background-color: $color-background;
        border-radius: 20px;
        margin-left: 30px;
        order: 2;
        padding-right: 15px;
        @include large {
            flex-basis: 40%;
        }
        @include middle {
            flex-basis: 100%;
            margin-bottom: 25px;
            margin-left: 0px;
            flex-shrink: 0;
            padding-left: 15px;
        }
        & .annonce2 {
            position: relative;
            border-radius: 20px;
            margin-bottom: 10px;
        }
        & .annonces__container {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: stretch;
            @include large {
                display: flex;
                flex-direction: row;
                align-items: stretch;
                justify-content: stretch;
                flex-wrap: wrap;
            }
            & .annonce2__container {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                justify-content: flex-start;
                background-color: white;
                border-radius: 20px;
                max-height: 100px;
                & .annonce2__photo2 {
                    flex-basis: 40%;
                    position: relative;                 
                    & > div {
                        max-height: 250px;
                        @include large {
                            max-height: 200px;
                        }
                        @include middle {
                            flex-basis: 60%;
                            max-height: 150px;
                        }
                        @include mobile-only {
                            max-height: 150px;
                        }
                    }
                    @include large {
                        flex-basis: 40%;
                    }
                }
                & .annonce2__details {
                    flex-basis: 60%;
                    font-weight: bold;
                    padding: 8px;
                    padding-left: 11px;
                    @include large {
                        flex-basis: 60%;
                    }
                    &__container {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                    }
                    &--nom {
                        font-weight: 700;
                        font-size: 1.1em;
                    }
                    &--prix {
                        font-size: .8em;
                        font-weight: normal;
                    }
                    &--stars {
                        @include middle {
                            padding-left: 27px;
                        }
                        @include mobile-only {
                            padding-left: 17px;
                        }
                        &--stars {
                            height: 50px;
                            padding-left: 7px;
                            padding-top: 13px;
                            @include mobile-only {
                                padding-left: 0;
                            }
                            @include middle {
                                padding-left: 0;
                            }
                            & .bluestar {
                                display: inline-block;
                                position: relative;
                                vertical-align: middle;
                                width: 15px;
                                height: 15px;
                                &--blueimg {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    background-image: URL("./../images/bluestar.svg");
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: cover;
                                }
                            }
                            & .greystar {
                                display: inline-block;
                                position: relative;
                                vertical-align: middle;
                                width: 15px;
                                height: 15px;
                                &--greyimg {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    background-image: URL("./../images/greystar.svg");
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: cover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.head {
    flex-basis: 10%;
    align-self: flex-start;
    @include middle {
        padding-left: 0;
    }
    @include large {
        flex-basis: 100%;
    }
}
#elem1, #elem2, #elem3 {
    flex-basis: 30%;
    @include large {
        flex-basis: 100%;
    }
}
#elem2, #elem3 {
    margin-top: 75px;
    @include middle {
        margin-top: 25px;
    }
    @include mobile-only {
        margin-top: 10px;
    }
}


.afficherplus {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.h2 {
    display: inline-block;
}

/*section activites*/
.activites {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    .activites__container {
        display: flex;
        justify-content: center;
        align-items: stretch;
        padding-top: 5px;
        @include middle {
            flex-wrap: wrap;
        }
        @include mobile-only {
            flex-wrap: wrap;
            align-items: flex-start;
        }
        &--item {
            flex-basis: 25%;
            & .container {
                display: flex;
                justify-content: center;
                align-items: stretch;
                flex-wrap: wrap;
                flex-grow: 0;
                box-shadow: 3px 3px 7px rgb(172, 168, 168);
                border-radius: 15px;
                @include mobile-only {
                    box-shadow: none;
                    align-items: flex-start;
                }
                &--item-img {
                    flex-basis: 100%;
                    position: relative;
                    max-width: 460px;
                    width: 150px;
                    min-width: 150px;
                    height: 340px;
                    @include large {
                        max-width: 400px;
                    }
                    @include middle {
                        height: 130px;
                        max-width: 400px;
                        width: 150px;
                    }
                    @include mobile-only {
                        flex-basis: 100%;
                        position: relative;
                        height: 120px;
                        max-width: 600px;
                        width: 225px;
                        box-shadow: 0 0 5px rgb(172, 168, 168);
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                        border-bottom: none;
                    }
                }
                &--item-point-d-interet1 {
                    position: relative;
                    flex-basis: 100%;
                    max-width: 400px;
                    width: 150px;
                    height: 80px;
                    min-width: 150px;
                    font-weight: 700;
                    padding-left: 9px;
                    padding-top: 24px;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    @include middle {
                        max-width: 400px;
                        width: 150px;
                        padding-top: 23px;
                    }
                    @include mobile-only {
                        font-size: smaller;
                        max-width: 600px;
                        width: 225px;
                        box-shadow: 0 0 5px rgb(172, 168, 168);
                        border-top: none;
                        padding-top: 27px;
                    }
                    @include large {
                       height: 60px; 
                    }
                }
            }
            & .xcontainer {
                display: flex;
                flex-wrap: wrap;
                @include middle {
                    flex-wrap: nowrap;
                    justify-content: space-between;
                }
                @include mobile-only {
                    flex-wrap: wrap;
                }
                &--item {
                    flex-basis: 100%;
                    & .container {
                        display: flex;
                        flex-wrap: wrap;
                        margin-bottom: 20px;
                        @include middle {
                            margin-right: 18px;
                        }
                        @include mobile-only {
                            justify-content: stretch;
                        }
                        &--item-img {
                            position: relative;
                            flex-basis: 100%;
                            max-width: 460px;
                            min-width: 150px;
                            width: 150px;
                            height: 120px;
                            @include middle {
                                height: 120px;
                                max-width: 400px;
                                width: 150px;
                            } 
                            @include mobile-only {
                                flex-basis: 100%;
                                position: relative;
                                max-width: 600px;
                                width: 225px;
                                height: 120px;
                                box-shadow: 0 0 5px rgb(172, 168, 168);
                                border-top-left-radius: 15px;
                                border-top-right-radius: 15px;
                                border-bottom: none;
                            }
                            @include large {
                                height: 130px;
                            }
                        }
                        &--item-point-d-interet2 {
                            position: relative;
                            flex-basis: 100%;
                            max-width: 400px;
                            min-width: 150px;
                            width: 150px;
                            height: 80px;
                            padding-left: 9px;
                            padding-top: 24px;
                            font-weight: 700;
                            border-bottom-left-radius: 15px;
                            border-bottom-right-radius: 15px;
                            @include middle {
                                max-width: 400px;
                                width: 150px;
                                padding-top: 23px;
                            }
                            @include mobile-only {
                                font-size: smaller;
                                max-width: 600px;
                                width: 225px;
                                height: 60px;
                                box-shadow: 0 0 5px rgb(172, 168, 168);
                                border-top: none;
                                padding-top: 27px;
                            }
                            @include large {
                                height: 60px;
                            }  
                        }
                    }
                }
            }
        }
    }
}
#un {
    padding-left: 0px;
    padding-right: 9px;
    @include middle {
        flex-basis: 33.33%;
    }
    @include mobile-only {
        flex-basis: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}
#deux {
    padding-left: 9px;
    padding-right: 9px;
    @include middle {
        flex-basis: 66.66%;
        padding-right: 0px;
    }
    @include mobile-only {
        flex-basis: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}
#trois {
    padding-left: 9px;
    padding-right: 9px;
    @include middle {
        flex-basis: 33.33%;
        padding-left: 0px;
    }
    @include mobile-only {
        flex-basis: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}
#quatre {
    padding-left: 9px;
    padding-right: 0px;
    @include middle {
        flex-basis: 66.66%;
    }
    @include mobile-only {
        flex-basis: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}
#c1 {
    position: relative;
    @include mobile-only {
        align-items: stretch;
        justify-content: stretch;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 20px;
    }
}
#c2 {
    position: relative;
    @include middle {
        margin-right: 9px;
    }
    @include mobile-only {
        align-items: stretch;
        justify-content: stretch;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}
#c3 {
    position: relative;
    @include middle {
        margin-right: 0px;
        margin-left: 9px;
    }
    @include mobile-only {
        align-items: stretch;
        justify-content: stretch;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
}
#c4 {
    position: relative;
    @include mobile-only {
        align-items: stretch;
        justify-content: stretch;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}
#c5 {
    position: relative;
    margin-right: 9px;
    @include mobile-only {
        align-items: stretch;
        justify-content: stretch;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}
#c6 {
    position: relative;
    @include middle {
        margin-right: 0px;
        margin-left: 9px;
    }
    @include mobile-only {
        align-items: stretch;
        justify-content: stretch;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
}

.click-photo1 {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
}
