* {
	box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

//variables
$color-primary: #0065FC;
$color-activelink: #237AFC;
$color-unactivelink: #727272;
$color-unactiveborder: #F2F2F2;
$color-activeborder: #0065FC;
$color-secondary: #DEEBFF;
$color-background: #F2F2F2;
$breakpoints: ("mobile":"576px");

/*smartphone*/
@mixin mobile-only {
    @media only screen and (max-width: map-get($breakpoints , "mobile" )) {
        @content;
    }
}

//
.header {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    &:nth-child(1) {
        flex-basis: 75%;
        flex-shrink: 1;
        text-align: left;
        position: relative;
    }
    & #reservialogo {
        display: inline-block;
        width: 120px;
        height: 40px;
        background-size: contain;
        position: absolute;
	    top: 2%;
	    left: 2%;
	    background-image: URL("./logos/Reservia3x.png");
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: contain;
    }
    & #reservialogosvg {
        display: inline-block;
        width: 120px;
        height: 40px;
        position: absolute;
	    top: 2%;
        left: 2%;
        padding-top: 20px;
    }
    @include mobile-only {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
}

.nav {
    display: flex;
    justify-content: flex-end;
    &__link {
        display: inline-block;
        padding: 30px; 
        font-weight: 600;
        color: $color-unactivelink;
        border-top: 3px solid $color-unactiveborder;
        text-decoration: none;
        &:hover {
            border-top: 3px solid $color-activeborder;
        }  
        &:focus {
            color: $color-activelink;
            border-top: 3px solid $color-activeborder;
        }
    }
    & a:nth-child(3) {
        color: $color-primary;
        font-weight: bold;
        border: none;
        &:focus {
            border: none;
        }
    }
    @include mobile-only {
        flex-wrap: wrap;
        & > a {
            width: 50%;
            color: $color-unactivelink;
            border: none;
            border-bottom: 3px solid $color-unactiveborder;
            text-align: center;
            &:focus {
                color: $color-activelink;
                border-bottom: 3px solid $color-activeborder;
                border-top: none;
            }
            &:hover {
                border-bottom: 3px solid $color-primary;
                border-top: none;
            }
        }
        & a:nth-child(3) {
            order: -2;
            width: 100%;
            border: none;
            color: $color-primary;
            text-align: right;
            &:focus {
                border-top: none;
                border-bottom: none;
            }
        }
    } 
}
main {
    margin-left: 2%;
    & h1 {
        font-weight: 600;
    }
    & #h1 {
        margin-bottom: -6px;
    }
    & .highlight2 {
        font-weight: 700;
        font-size: 16px;
    }
}

.searchbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 55px;
    margin-top: 23px;
    margin-bottom: 25px;
    &__picto {
        height: 55px;
        padding: 14px;
        padding-right: 24px;
        padding-left: 24px;
        margin: 0;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border: 2px solid $color-background;
        background-color: $color-background;
        & i {
            margin: 0;
            padding: 0;
        }
    }
    &__input {
        height: 55px;
        padding: 15px;
        margin: 0;
        border: 2px solid $color-background;
        border-right: none;
        text-align: left;
        &--border {
            border: none;
            padding: 0;
            margin: 0;
            font-weight: bold;
        }
    }
    &__submit {
        height: 55px;
        padding: 15px;
        margin: 0;
        border: 2px solid $color-primary;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: $color-primary;
        color: #ffffff;
        &--border {
            border: none;
            padding: 0;
            margin: 0;
            font-weight: bold;
            background-color: $color-primary;
            color: #ffffff;
        }
    }
}
.filtres {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    & input {
        border: none;
        //color: red;
        &.void {
            //color: orange;
        }
    }
    &__inputpicto {
        margin-bottom: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 50px;
        padding: 0;
        padding-right: 3px;
        border-top: solid 3px $color-background;
        border-bottom: solid 3px $color-background;
        border-right: solid 3px $color-background;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        -moz-border-radius: 25px;
        &--left{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: $color-secondary;
            border: 3px solid $color-secondary;
        }
        &--right {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            padding: 0;
            padding-left: 5px;
        }
        &--insideinput {
            //border: none;
            padding: 0;
            text-align: center;
        }
    }
}

.message {
    //margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__info {
        &--picto {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 24px;
            width: 24px;
            border-radius: 12px;
            border: 0.5px solid $color-secondary;
            color: $color-primary;
            font-weight: bold;
            margin-right: 4px;
        }
        &--texte {
            & #nblogements {
                background-color: #ffffff;
            }
        }
    }
    
}
/*input {
    width: auto;
}*/

 
