@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  justify-content: center;
  font-family: "Raleway", sans-serif;
}

/*smartphone*/
/*large*/
/*middle*/
/*photos hébergements ville*/
/*photos hébergements les plus populaires*/
/*photos activités*/
main {
  margin-left: 2%;
  margin-right: 2%;
}
main h1 {
  font-weight: 600;
}
main #h1 {
  margin-bottom: -6px;
}
main .highlight2 {
  font-weight: 700;
  font-size: 16px;
}
main #img1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 4px solid #ffffff;
}
main #img2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 4px solid #ffffff;
}
main #img3 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 4px solid #ffffff;
}
main #img4 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 4px solid #ffffff;
}
main #img5 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 4px solid #ffffff;
}
main #img6 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 4px solid #ffffff;
}
main #img7 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 4px solid #ffffff;
}
main #img11 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 4px solid #ffffff;
}
main #img8 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 4px solid #ffffff;
}
main #img9 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 4px solid #ffffff;
}
main #img10 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 4px solid #ffffff;
}
main #img12 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
main #img13 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
main #img14 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
main #img15 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
main #img16 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
main #img17 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
@media only screen and (max-width: 620px) {
  main {
    margin-left: 0;
    margin-right: 0;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 2%;
  padding-right: 1%;
}
.header__nav a.nav__link {
  padding: 15px;
  font-weight: 600;
  color: #727272;
  border-top: 3px solid #F2F2F2;
  text-decoration: none;
}
.header__nav a.nav__link:hover {
  border-top: 3px solid #0065FC;
  color: #237AFC;
}
.header__nav a.nav__link:focus {
  color: #237AFC;
  border-top: 3px solid #0065FC;
}
.header__nav a.nav__link:active {
  color: #237AFC;
  border-top: 3px solid #0065FC;
}
.header__nav a.nav__link--static {
  text-decoration: none;
  border-top: 3px solid white;
  color: #0065FC;
  font-weight: bold;
}
.header__nav__logo {
  flex-basis: 100%;
}
.header__nav__inscription {
  text-align: right;
  padding-left: 20px;
}
.header__nav__hebergements {
  text-align: right;
}
.header__nav__activites {
  text-align: right;
}
@media only screen and (max-width: 920px) {
  .header__nav {
    padding-left: 1%;
  }
}
@media only screen and (max-width: 1200px) {
  .header__nav {
    padding-left: 2%;
  }
}
@media only screen and (max-width: 620px) {
  .header__nav {
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-left: 0%;
  }
  .header__nav a.nav__link {
    display: inline-block;
    width: 165px;
    padding: 15px;
    font-weight: 600;
    color: #727272;
    border-top: 3px solid white;
    border-bottom: 3px solid #F2F2F2;
    text-decoration: none;
  }
  .header__nav a.nav__link:hover {
    border-top: 3px solid white;
    border-bottom: 3px solid #0065FC;
  }
  .header__nav a.nav__link:focus {
    border-top: none;
    color: #237AFC;
    border-bottom: 3px solid #0065FC;
  }
  .header__nav a.nav__link:active {
    border-top: none;
    color: #237AFC;
    border-bottom: 3px solid #0065FC;
  }
  .header__nav a.nav__link--static {
    text-decoration: none;
    border-top: 3px solid white;
    color: #0065FC;
    font-weight: bold;
  }
  .header__nav__logo {
    flex-basis: 50%;
    order: 1;
    padding-bottom: 10px;
  }
  .header__nav__inscription {
    padding-top: 14px;
    text-align: right;
    align-self: flex-start;
    order: 2;
    flex-basis: 50%;
  }
  .header__nav__hebergements {
    flex-basis: 50%;
    flex-grow: 1;
    text-align: center;
    order: 3;
  }
  .header__nav__activites {
    text-align: center;
    order: 4;
    flex-basis: 50%;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav__link {
  padding: 30px;
  font-weight: 600;
  color: #727272;
  border-top: 3px solid #F2F2F2;
  text-decoration: none;
}
.nav__link:hover {
  border-top: 3px solid #0065FC;
}
.nav__link:focus {
  color: #237AFC;
  border-top: 3px solid #0065FC;
}
.nav a:nth-child(3) {
  color: #0065FC;
  font-weight: bold;
  border-top: 3px solid white;
}
.nav a:nth-child(3):focus {
  border-top: 3px solid white;
}
@media only screen and (max-width: 620px) {
  .nav {
    justify-content: space-between;
    align-self: flex-end;
    flex-wrap: wrap;
  }
  .nav > a {
    width: 50%;
    color: #727272;
    border: none;
    border-bottom: 3px solid #F2F2F2;
    text-align: center;
  }
  .nav > a:focus {
    color: #237AFC;
    border-bottom: 3px solid #0065FC;
    border-top: none;
  }
  .nav > a:hover {
    border-bottom: 3px solid #0065FC;
    border-top: none;
  }
}

.searchbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  margin-top: 23px;
  margin-bottom: 25px;
}
.searchbar__picto {
  height: 50px;
  padding: 14px;
  margin: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 2px solid #F2F2F2;
  background-color: #F2F2F2;
}
.searchbar__picto i {
  margin: 0;
  padding: 0;
}
.searchbar__input {
  height: 50px;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  border: 2px solid #F2F2F2;
  border-right: none;
  text-align: left;
  width: 170px;
}
.searchbar__input--border {
  border: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.searchbar__submit {
  height: 50px;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  border: 2px solid #0065FC;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0065FC;
  color: #ffffff;
}
.searchbar__submit--border {
  border: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  background-color: #0065FC;
  color: #ffffff;
}

.filtres {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
.filtres input {
  border: none;
}
.filtres__label {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  padding: 0;
}
.filtres__inputpicto {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  padding: 0;
  padding-right: 3px;
  border-top: solid 3px #F2F2F2;
  border-bottom: solid 3px #F2F2F2;
  border-right: solid 3px #F2F2F2;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -moz-border-radius: 25px;
}
.filtres__inputpicto--left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #DEEBFF;
  border: 3px solid #DEEBFF;
}
.filtres__inputpicto--right {
  display: inline-block;
  border: none;
}
.filtres__inputpicto--insideinput {
  padding-left: 7px;
  padding-right: 5px;
}

.message {
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.message__info--picto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  border: 0.5px solid #DEEBFF;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em;
  color: #0065FC;
  font-weight: bold;
  margin-right: 4px;
}
.message__info--texte #nblogements {
  background-color: #ffffff;
}

.hebergement__container {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
@media only screen and (max-width: 920px) {
  .hebergement__container {
    justify-content: stretch;
    flex-wrap: wrap-reverse;
  }
}
.hebergement__container--item__ville {
  flex-basis: 70%;
  flex-grow: 0;
  order: 1;
  height: 800px;
  background-color: #F2F2F2;
  border-radius: 20px;
}
@media only screen and (max-width: 1200px) {
  .hebergement__container--item__ville {
    height: 1000px;
    max-width: 650px;
  }
}
@media only screen and (max-width: 920px) {
  .hebergement__container--item__ville {
    height: 1100px;
    max-width: none;
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 620px) {
  .hebergement__container--item__ville {
    height: 1700px;
    max-width: none;
    flex-basis: 100%;
  }
}
.hebergement__container--item__ville .annonces__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hebergement__container--item__ville .annonces__container .heading, .hebergement__container--item__ville .annonces__container .plus {
  align-self: flex-start;
  padding-left: 25px;
}
.hebergement__container--item__ville .annonces__container--item .photos1__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
}
@media only screen and (max-width: 1200px) {
  .hebergement__container--item__ville .annonces__container--item .photos1__container {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 920px) {
  .hebergement__container--item__ville .annonces__container--item .photos1__container {
    flex-wrap: wrap;
    padding-right: 15px;
    /*& .item--fraction1, .item--fraction2, .item--fraction1.ter, .item--fraction2, .item--fraction3, .item--fraction4, .item--fraction5, .item--fraction6 {
        flex-basis: 100%;
    }*/
  }
}
@media only screen and (max-width: 620px) {
  .hebergement__container--item__ville .annonces__container--item .photos1__container {
    padding-right: 10px;
  }
}
.hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #ffffff;
  margin: 0 15px 25px 0;
}
@media only screen and (max-width: 1200px) {
  .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1 {
    align-items: center;
    background-color: white;
    border: 0;
  }
}
@media only screen and (max-width: 920px) {
  .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1 {
    background-color: white;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
@media only screen and (max-width: 620px) {
  .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1 {
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
  }
}
.hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 {
  position: relative;
  width: 225px;
  height: 125px;
  /*@include large {
      max-width: 300px;
      flex-shrink: 1;
  }*/
}
.hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 4px solid #ffffff;
}
.hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 4px solid #ffffff;
}
.hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img3 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 4px solid #ffffff;
}
.hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img4 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 4px solid #ffffff;
}
.hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img5 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 4px solid #ffffff;
}
.hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img6 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 4px solid #ffffff;
}
.hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img7 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 4px solid #ffffff;
}
.hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img11 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 4px solid #ffffff;
}
@media only screen and (max-width: 1200px) {
  .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 {
    flex-shrink: 1;
  }
}
@media only screen and (max-width: 920px) {
  .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 {
    flex-shrink: 0;
  }
  .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img1, .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img2, .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img3, .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img4, .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img5, .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img6, .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img7, .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img11 {
    border-top-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    width: 300px;
  }
}
@media only screen and (max-width: 920px) and (max-width: 620px) {
  .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 {
    display: flex;
    flex-basis: 100%;
    flex-shrink: 1;
    flex-grow: 1;
  }
  .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img1, .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img2, .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img3, .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img4, .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img5, .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img6, .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img7, .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__photo1 #img11 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    flex-basis: 100%;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
  }
}
.hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__nom {
  height: 35px;
  padding-left: 9px;
  padding-top: 7px;
  padding-bottom: 5px;
  font-size: 1.1em;
  font-weight: 700;
}
@media only screen and (max-width: 920px) {
  .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__nom {
    position: absolute;
    left: 320px;
    top: 15px;
  }
}
@media only screen and (max-width: 620px) {
  .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__nom {
    flex-basis: 100%;
    position: relative;
    left: 0;
    top: 0;
    font-size: smaller;
  }
}
.hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__prix {
  height: 25px;
  padding-left: 9px;
  font-size: 0.8em;
}
@media only screen and (max-width: 920px) {
  .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__prix {
    position: absolute;
    left: 320px;
    top: 50px;
  }
}
@media only screen and (max-width: 620px) {
  .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__prix {
    flex-basis: 100%;
    position: relative;
    left: 0;
    top: 0;
  }
}
.hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__stars {
  height: 50px;
  padding-left: 9px;
  padding-top: 15px;
}
@media only screen and (max-width: 920px) {
  .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__stars {
    position: absolute;
    left: 320px;
    top: 70px;
  }
}
@media only screen and (max-width: 620px) {
  .hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__stars {
    flex-basis: 100%;
    position: relative;
    left: 0;
    top: 0;
  }
}
.hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__stars .bluestar {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 15px;
  height: 15px;
}
.hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__stars .bluestar--blueimg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/bluestar.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__stars .greystar {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 15px;
  height: 15px;
}
.hebergement__container--item__ville .annonces__container--item .photos1__container .annonce1__stars .greystar--greyimg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/greystar.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hebergement__container--item__populaire {
  flex-basis: 30%;
  background-color: #F2F2F2;
  border-radius: 20px;
  margin-left: 34px;
  order: 2;
  padding-right: 10px;
  height: 800px;
}
@media only screen and (max-width: 1200px) {
  .hebergement__container--item__populaire {
    flex-basis: 40%;
    height: 1000px;
  }
}
@media only screen and (max-width: 920px) {
  .hebergement__container--item__populaire {
    flex-basis: 100%;
    height: 600px;
    margin-bottom: 25px;
    margin-left: 0px;
  }
}
.hebergement__container--item__populaire .annonce2 {
  border-radius: 20px;
  margin-bottom: 10px;
}
.hebergement__container--item__populaire .annonces__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media only screen and (max-width: 920px) {
  .hebergement__container--item__populaire .annonces__container {
    align-items: stretch;
  }
}
.hebergement__container--item__populaire .annonces__container .annonce2__container {
  display: flex;
  background-color: white;
  border-radius: 20px;
}
@media only screen and (max-width: 920px) {
  .hebergement__container--item__populaire .annonces__container .annonce2__container {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 620px) {
  .hebergement__container--item__populaire .annonces__container .annonce2__container {
    margin-left: 10px;
  }
}
.hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__photo2 {
  position: relative;
  width: 140px;
  max-width: 140px;
  height: 140px;
}
@media only screen and (max-width: 920px) {
  .hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__photo2 {
    width: 300px;
    max-width: 300px;
    min-width: 160px;
    height: 140px;
  }
}
@media only screen and (max-width: 620px) {
  .hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__photo2 {
    width: 200px;
    max-width: 300px;
    height: 125px;
  }
}
.hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: bold;
  padding-right: 7px;
  max-width: 210px;
}
.hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__details__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-end;
  height: 140px;
}
@media only screen and (max-width: 620px) {
  .hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__details__container {
    height: 120px;
  }
}
.hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__details--nom {
  padding-top: 7px;
  padding-left: 7px;
  flex-basis: 20%;
  font-weight: 700;
  font-size: 1.1em;
}
@media only screen and (max-width: 920px) {
  .hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__details--nom {
    padding-left: 29px;
  }
}
@media only screen and (max-width: 620px) {
  .hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__details--nom {
    padding-left: 19px;
    font-size: smaller;
  }
}
.hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__details--prix {
  padding-top: 7px;
  padding-left: 7px;
  flex-basis: 60%;
  font-size: 0.8em;
  font-weight: normal;
}
@media only screen and (max-width: 920px) {
  .hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__details--prix {
    padding-left: 29px;
  }
}
@media only screen and (max-width: 620px) {
  .hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__details--prix {
    padding-left: 19px;
    font-size: smaller;
  }
}
.hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__details--stars {
  flex-basis: 20%;
}
@media only screen and (max-width: 920px) {
  .hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__details--stars {
    padding-left: 27px;
  }
}
@media only screen and (max-width: 620px) {
  .hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__details--stars {
    padding-left: 17px;
  }
}
.hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__details--stars--stars {
  height: 50px;
  padding-left: 7px;
  padding-top: 13px;
}
@media only screen and (max-width: 620px) {
  .hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__details--stars--stars {
    padding-left: 0;
  }
}
@media only screen and (max-width: 920px) {
  .hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__details--stars--stars {
    padding-left: 0;
  }
}
.hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__details--stars--stars .bluestar {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 15px;
  height: 15px;
}
.hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__details--stars--stars .bluestar--blueimg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/bluestar.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__details--stars--stars .greystar {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 15px;
  height: 15px;
}
.hebergement__container--item__populaire .annonces__container .annonce2__container .annonce2__details--stars--stars .greystar--greyimg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: URL("./images/greystar.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.head {
  flex-basis: 10%;
  align-self: flex-start;
}
@media only screen and (max-width: 920px) {
  .head {
    padding-left: 25px;
  }
}

#elem1, #elem2, #elem3 {
  flex-basis: 30%;
}

@media only screen and (max-width: 920px) {
  .item--fraction1, .item--fraction2, .item--fraction3 {
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 620px) {
  .item--fraction1, .item--fraction2, .item--fraction3 {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 920px) {
  .item--fraction6, .item--fraction7 {
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 620px) {
  .item--fraction6, .item--fraction7 {
    flex-basis: 100%;
  }
}

.item--fraction4 {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
@media only screen and (max-width: 1200px) {
  .item--fraction4 {
    position: relative;
  }
}
@media only screen and (max-width: 920px) {
  .item--fraction4 {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
}
@media only screen and (max-width: 620px) {
  .item--fraction4 {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
}

.item--fraction5 {
  position: relative;
}
@media only screen and (max-width: 1200px) {
  .item--fraction5 {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
}
@media only screen and (max-width: 920px) {
  .item--fraction5 {
    position: relative;
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 620px) {
  .item--fraction5 {
    position: relative;
    flex-basis: 100%;
  }
}

.afficherplus {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.h2 {
  display: inline-block;
}

/*section activites*/
.activites {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 15px;
  /*&--titre {
      margin-left: 20px;

  }*/
}
.activites .activites__container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 500px;
  padding-top: 5px;
}
@media only screen and (max-width: 920px) {
  .activites .activites__container {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 620px) {
  .activites .activites__container {
    flex-wrap: wrap;
  }
}
.activites .activites__container--item {
  flex-basis: 25%;
}
.activites .activites__container--item .container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  flex-grow: 0;
  box-shadow: 3px 3px 7px #aca8a8;
  border-radius: 15px;
}
.activites .activites__container--item .container--item-img {
  flex-basis: 100%;
  position: relative;
  max-width: 400px;
  width: 150px;
  min-width: 150px;
  height: 320px;
}
@media only screen and (max-width: 620px) {
  .activites .activites__container--item .container--item-img {
    height: 120px;
  }
}
@media only screen and (max-width: 920px) {
  .activites .activites__container--item .container--item-img {
    height: 120px;
  }
}
.activites .activites__container--item .container--item-point-d-interet1 {
  flex-basis: 100%;
  max-width: 400px;
  width: 150px;
  height: 60px;
  min-width: 150px;
  font-weight: 700;
  padding-left: 9px;
  padding-top: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
@media only screen and (max-width: 620px) {
  .activites .activites__container--item .container--item-point-d-interet1 {
    font-size: smaller;
  }
}
.activites .activites__container--item .xcontainer {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 620px) {
  .activites .activites__container--item .xcontainer {
    flex-wrap: nowrap;
  }
}
@media only screen and (max-width: 920px) {
  .activites .activites__container--item .xcontainer {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.activites .activites__container--item .xcontainer--item {
  flex-basis: 100%;
}
.activites .activites__container--item .xcontainer--item .container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
@media only screen and (max-width: 920px) {
  .activites .activites__container--item .xcontainer--item .container {
    margin-right: 18px;
  }
}
.activites .activites__container--item .xcontainer--item .container--item-img {
  position: relative;
  flex-basis: 100%;
  max-width: 400px;
  min-width: 150px;
  width: 150px;
  height: 120px;
}
.activites .activites__container--item .xcontainer--item .container--item-point-d-interet2 {
  flex-basis: 100%;
  max-width: 400px;
  min-width: 150px;
  width: 150px;
  height: 60px;
  padding-left: 9px;
  padding-top: 15px;
  font-weight: 700;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
@media only screen and (max-width: 620px) {
  .activites .activites__container--item .xcontainer--item .container--item-point-d-interet2 {
    font-size: smaller;
  }
}

#un {
  padding-left: 0px;
  padding-right: 9px;
}
@media only screen and (max-width: 920px) {
  #un {
    flex-basis: 33.33%;
  }
}

#deux {
  padding-left: 9px;
  padding-right: 9px;
}
@media only screen and (max-width: 620px) {
  #deux {
    flex-basis: 50%;
  }
}
@media only screen and (max-width: 920px) {
  #deux {
    flex-basis: 66.66%;
  }
}

#trois {
  padding-left: 9px;
  padding-right: 9px;
}
@media only screen and (max-width: 920px) {
  #trois {
    flex-basis: 33.33%;
  }
}

#quatre {
  padding-left: 9px;
  padding-right: 0px;
}
@media only screen and (max-width: 620px) {
  #quatre {
    flex-basis: 50%;
  }
}
@media only screen and (max-width: 920px) {
  #quatre {
    flex-basis: 66.66%;
  }
}

@media only screen and (max-width: 920px) {
  #c2 {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 920px) {
  #c4 {
    margin-right: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
