
.pied-de-page {
    background-color: $color-background;
    display: flex;
    justify-content: flex-start;
    @include mobile-only {
        flex-wrap: wrap;
    }
    &__apropos {
        flex-basis: 33.33%;
        @include mobile-only {
            flex-basis: 100%;
        }
        & > h4 {
            margin-left: 30px;
        }
        & ul {
            padding-left: 30px;
        }
        & li {
            list-style-type: none;
            font-size: small;
            margin-left: 0px;
            padding-bottom: 5px;
        }
    }
    &__noshebergements {
        flex-basis: 33.33%;
        @include mobile-only {
            flex-basis: 100%;
        }
        & > h4 {
            margin-left: 30px;
        }
        & ul {
            padding-left: 30px;
        }
        & li {
            list-style-type: none;
            font-size: small;
            margin-left: 0px;
            padding-bottom: 5px;
        }
    }
    &__assistance {
        flex-basis: 33.33%;
        @include mobile-only {
            flex-basis: 100%;
        }
        & > h4 {
            margin-left: 30px;
        }
        & ul {
            padding-left: 30px;
        }
        & li {
            list-style-type: none;
            font-size: small;
            margin-left: 0px;
            padding-bottom: 5px;
        }
    }
}
